<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries Inventory - New Category</title>
  </head>
  <body>
    <h1>Create New Category</h1>

    <form method="POST" action="/categories">
      <label for="name">Category Name</label>
      <input type="text" name="name" id="name" required>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>