<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries Inventory</title>
  </head>
  <body>
    <h1>Groceries Inventory</h1>

    <div>
      <h2>Categories</h2>
      <a href="/categories/new">Add new category</a>

      <% if (categories.length === 0) { %>
        <p>No categories were found.</p>
      <% } else { %>
        <ul>
          <% categories.map(category => { %>
            <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </body>
</html>